{% extends 'links.html' %} {% load static%} {% block content %}
<div class="container">
<form action="/addcovidsource" method="POST">
  {% csrf_token %}
  <div class="form-row align-items-center">
    <div class="col-5 my-1">
      <label class="sr-only" for="urlInput">Covid News Source</label>
      <input
        type="url"
        required
        name="weblink"
        class="form-control"
        id="urlInput"
        placeholder="Enter website Url"
      />
    </div>
    <div class="col-3 my-1">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>

{% for p in links %}
<div class="row">
<div class="col-6">
<a href="{{p.url}}">{{p.url}}</a>
</div>
<div class="col">
<a href="{% url 'deletecovidsource' %}?id={{p.id}}"><i class="fas fa-trash"></i> Delete</a>
</div>

</div>
{% endfor %}

</div>
{% endblock %}
